html{
	font-family: Arial, Helvetica ;
}
img{
	width: 300px;
}
.b{
	margin-left: 40%;
}
.card{
	width: 300px;
	padding: 10px;
	border: 1px solid #F0F0F0;
	box-shadow: 5px 5px rgb(152,152,152);
}
.fact{
	font-style: italic;
}
ul{
	list-style-type: none;
	padding: 0px;
}
.list{
	font-weight: bold;
}
.info{
	border: 1px solid #F0F0F0;
	margin: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
h1{
	text-align: center;
}